:host {
    display: flex;
    flex-direction: column;
    margin-top: -82px;
    max-width: calc(var(--spacing) * 1440);
    width: 100%;

    .bg-img-summary-sub-header {
        padding: 0 16px;
        background-image:
            url(/img/figure/radial-green-big.svg), url(/img/figure/radial-green-big.svg),
            linear-gradient(var(--gradient-forest-pine));
        background-repeat: no-repeat;
	    background-position:
			    -25px 648px,
			    right 38px top 284px,
			    0 0;

        @media (width >= 48rem /* 768px */) {
            padding: 0 48px;
        }
    }
}
