/* You can add global styles to this file, and also import other style files */
@forward '../../../libs/tailwind/tailwind.css';

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

html, body {
	height: 100%;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
