/* You can add global styles to this file, and also import other style files */
@forward '../../../libs/tailwind/tailwind.css';

.background-image-gradient {
    width: 50px;
    height: 50px;
    background: transparent url('/img/radial.png') no-repeat center;
    background-size: cover;
    transition: transform 0.3s ease;
    z-index: 0;
}

.ui-menu {
    display: flex;
    cursor: pointer;
    column-gap: 6px;
    max-width: 61px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    overflow: hidden;

    &[aria-expanded='true'] {
        .triangle {
          transform: rotate(180deg);
        }
    }

    &[aria-expanded='true'],
    &:hover {
        .background-image-gradient {
            transform: scale(1.1);
        }
    }

    &-button {
        cursor: pointer;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: rgba(151, 240, 149, 1);
        border: 0.2px solid;
        border-image-source: linear-gradient(90.15deg, #5fdcb2 0.16%, #97f095 99.9%);
        background: rgb(7 93 68);
        z-index: 10;
    }
}

.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
}

.example-menu .example-menu-item {
    width: 100%;
}

hr {
    width: 100%;
    color: rgba(0, 0, 0, 0.12);
}

.example-menu-item,
.example-standalone-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.example-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
    background-color: rgb(170, 170, 170);
}

.example-standalone-item {
    background-color: rgb(239, 239, 239);
}
.example-standalone-item:hover {
    background-color: rgb(208, 208, 208);
}
.example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
}

.example-menu-item[role='menuitemradio'][aria-checked='true'] {
    background-color: rgb(225, 225, 225);
}
.example-menu-item[role='menuitemcheckbox'][aria-checked='true'] {
    background-color: rgb(225, 225, 225);
}
